*{

margin:0;
padding:0;
box-sizing:border-box;

}

body{

font-family:Poppins,sans-serif;

background:#eef5fb;

display:flex;

justify-content:center;

align-items:center;

min-height:100vh;

padding:30px;

}

.container{

width:100%;
max-width:700px;

}

.card{

background:#fff;

padding:45px;

border-radius:25px;

box-shadow:0 15px 40px rgba(0,0,0,.08);

text-align:center;

}

.avatar{

width:180px;

margin:auto;

margin-bottom:25px;

}

h1{

color:#023059;

margin-bottom:15px;

}

p{

color:#666;

margin-bottom:40px;

}

.resume{

display:grid;

grid-template-columns:repeat(2,1fr);

gap:20px;

margin-bottom:40px;

}

.resume div{

background:#f5f8fc;

padding:20px;

border-radius:15px;

}

.resume strong{

display:block;

margin-bottom:8px;

color:#0869A6;

}

button{

padding:18px 35px;

border:none;

border-radius:15px;

background:#C8F000;

font-size:17px;

font-weight:bold;

cursor:pointer;

transition:.3s;

}

button:hover{

transform:translateY(-2px);

}